<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripian.trpcore">


    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>
    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tripian.trpcore.ui.splash.ACSplash"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.tripian.trpcore.ui.login.ACLogin"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tripian_nexus" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tripian.trpcore.ui.mytrip.ACMyTrip"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.tripian.trpcore.ui.createtrip.ACCreateTrip"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name="com.tripian.trpcore.ui.createtrip.ACSearchAddress"
            android:exported="false" />

        <activity
            android:name="com.tripian.trpcore.ui.companion.ACManageCompanion"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip.ACTripMode"
            android:exported="false"
            android:theme="@style/AppThemeWhite"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.butterfly.ACButterfly"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.overview.ACOverView"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip.places.ACPlaces"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip.favorite.ACFavorite"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip.booking.ACBooking"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip_detail.ACTripDetail"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip.places.ACMustTry"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.user.ACEditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.common.ACWebPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.profile.ACProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.tripian.trpcore.ui.trip.my_offers.ACMyOffers"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="@string/default_notification_channel_id" />-->

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@mipmap/ic_launcher" />-->

<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/colorAccent" />-->

<!--        <meta-data-->
<!--            android:name="push_kit_auto_init_enabled"-->
<!--            android:value="true" />-->

<!--        <service-->
<!--            android:name="com.tripian.trpcore.util.PushService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

<!--        <service-->
<!--            android:name="com.tripian.trpcore.util.HmsPushService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>